@model List<Book>
<div class="container">
    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h1>Book</h1>
            <a asp-area="manage" asp-controller="book" asp-action="create" class="btn btn-primary">Create book</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Desc</th>
                    <th scope="col">Price</th>
                    <th scope="col">Author</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>
                            <img src="~/image/products/@book.MainImageUrl" alt="book Image" style="width:100px; height:auto;" />
                        </td>
                        <td>@book.Title</td>
                        <td>@book.Description</td>
                        <td>@book.OldPrice</td>
                        <td>@book.Author.Name</td>
                        <td>@book.Genre.Name</td>
                        <td>
                            <a asp-area="manage" asp-controller="book" asp-action="edit" asp-route-id="@book.Id" class="btn btn-sm btn-info">Edit</a>
                            <a asp-area="manage" asp-controller="book" asp-action="detail" asp-route-id="@book.Id" class="btn btn-sm btn-info">Detail</a>
                            <a asp-area="manage" asp-controller="book" asp-action="delete" asp-route-id="@book.Id" class="btn btn-sm btn-info delete">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function(){
            $('.delete').click(function(e){
                e.preventDefault();
                var url = $(this).attr('href');
                       Swal.fire({
          title: "Do you want to save the changes?",
          showDenyButton: true,
          confirmButtonText: "Delete",
        }).then((result) => {
          /* Read more about isConfirmed, isDenied below */
          if (result.isConfirmed) {
            fetch(url).then(res => {
                if(res.ok){
                    swalWithBootstrapButtons.fire(
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    )
                }
                else {
                     swalWithBootstrapButtons.fire(
                        title: "Canceled!",
                        text: "Your file is safe.",
                        icon: "error"
                    )
                }
            });
          }
        });
            });
        });
    </script>
}